.cart {
  &-icon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }

  &-count {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }
  &-icon-wrapper {
    position: relative;
  }
}
