.sign-page {
  max-width: 850px;
  margin: 0 auto;

  .col {
    min-width: 440px;

    &:first-child {
      padding-inline-start: 0;
    }

    &:last-child {
      padding-inline-end: 0;
    }
  }
}