.custom {
  &-input {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    border: 0;
    border-bottom: 1px solid grey;
    color: grey;
    font-size: 18px;
    padding: 10px;

    &-group {
      margin-bottom: 20px;
    }
  
    &:focus {
      outline: 0;
    }
  }

  &-label {
    &.visible {
      display: inline;
    }
    &.invisible {
      display: none;
    }
  }
}
