.main-header {
  line-height: 70px;
  margin-bottom: 30px;
  position: relative;

  h1 {
    float: left;
    margin: 0;
  }

  nav {
    float: right;

    li {
      display: inline-block;
      cursor: pointer;

      & + li {
        margin-left: 25px;
      }
    }
  }
}
