.collection-card {
  width: 25%;
  float: left;
  padding-inline-start: 15px;
  padding-inline-end: 15px;
  margin-bottom: 20px;

  .background-image {
    height: 330px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &--hover {
      display: none;
      height: inherit;
      width: 100%;
      background-color: rgba($color: #fff, $alpha: 0.3);
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &:hover {
    .background-image--hover {
      display: flex;
    }
  }

  button {
    background-color: rgba($color: #fff, $alpha: 0.85);
    border: 1px solid #000;
    text-transform: uppercase;
    color: #000;
    width: 90%;
    margin-bottom: 20px;
    padding: 15px;
    cursor: pointer;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }

  &__details {
    p {
      margin-top: 5px;
      display: inline-block;
    }
  }
}
